[submodule "libs/Base"]
	path = libs/Base
	url = git@github.com:DenisovMaxim/Base.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = git@github.com:google/googletest.git
[submodule "libs/RTL-SDR-Receiver"]
	path = libs/RTL-SDR-Receiver
	url = git@github.com:BorzhonovAI/Receiver.git
